@media screen and (max-width:1800px){
	.dev-constrution-shape-img {
		max-width: 900px;
	}
	.form-checks {
		gap: 24px;
		margin-left: 24px;
	}
	.form-checks label {
		font-size: 15px;
	}
}
@media screen and (max-width:1600px){
	.desktop-menu {
		grid-gap: 40px;
	}
	.banner-content {
		margin-left: 20px;
		max-width: 950px;
	}
	.banner-content h1 {
		font-size: 70px;
	}
	.site-nav li a.secondary-btn {
		font-size: 16px;
	}
	.heading-deatils {
		padding-left: 40px;
	}
	.section-title {
		font-size: 46px;
	}
	.site-banner {
		height: 950px;
	}
	.Approach .container {
		padding: 124px 45px;
	}
	.back-to-bottom {
		left: 30px;
	}
	.dev-constrution-wrap {
		padding: 0 45px;
	}
	.capital .container {
		padding: 165px 45px;
	}
	.why_us .container {
		background: #fff;
		padding: 164px 45px;
	}

	.top_box {
		padding: 84px 45px;
	}
	.devlop .devlop-warp {
		padding: 145px 45px 64px;
	}

	.track-record-content {
		padding: 45px;
	}
	.approach_inside {
		padding: 64px 20px;
	}
	.dev-constrution-shape-img {
		max-width: 750px;
	}
	.tailored-solution-wrap {
		padding-inline: 0;
	}
	.accrodtion-card {
		padding: 124px 45px;
	}
	.tailored-solution .container {
		padding-bottom: 360px;
	}

	.awards-reco .container {
		padding: 120px 0;
	}
	.listing-slider > .swiper-button-prev, .listing-slider > .swiper-button-next {
		right: 45px;
	}
	.listing-slider > .swiper-button-prev {
		right: calc(45px + 84px);
	}
	.listing-type-card li {
		padding: 52px 45px;
	}
	.listing-type-card li h4 {
		font-size: 46px;
	}
	.track-record-card {
		padding: 25px 45px;
	}

	.devlop_box {
		align-items: center;
	}
	.dev_two h3 {
		font-size: 26px;
	}
	.addresss p {
		font-size: 26px;
	}
	.addresss {
		padding: 88px 45px;
	}
	.addresss li {
		font-size: 20px;
	}
	.footer-nav li a {
		font-size: 22px;
	}
	.footer-columns {
		grid-column-gap: 44px;
	}
	.listing-card-footer {
		padding: 24px 20px;
	}
	.read-more {
		font-size: 16px;
	}
	.track-record-card h4 {
		font-size: 46px;
	}

	.commercial-sale-content h3 {
		font-size: 100px;
	}
	.track-record-content h5 {
		margin: 0 0 47px 45px;
	}
	.brokerage .section-title {
		margin: 0;
	}
	.featured-listing .line-shape {
		max-width: 700px;
	}
	.single-screen-content .check-icon {
		width: 100px;
		height: 100px;
		margin: 0 auto 32px;
	}

	.single-screen-content h1 {
		font-size: 86px;
	}
	.single-screen-content .secondary-btn {
		margin: 32px 0;
	}
	.single-screen-content h2 {
		font-size: 42px;
	}
	.search-ifame-flex {
    grid-template-columns: 1fr 1fr;
}
}
@media screen and (max-width:1400px){
	.desktop-menu {
		display: flex;
		justify-content: space-between;
	}
	.mobile-menu {
		display: block;
	}
	.desktop-menu .site-nav {
		display: none;
	}
	.site-nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width:100%;
		max-width: 350px;
		background: var(--black);
		transition: 0.4s cubic-bezier(0, 0, 0.13, 0.61);
		transform: translateX(-100%);
		z-index: 2;
	}

	.site-nav ul {
	    display: block;
	    padding: 100px 60px 0;
	}
	.site-nav li {
		margin: 0 0 20px;
	}
	.menu-toggle{
		display: block;
	}

	.closed-menu {
		font-size: 40px;
		color: #fff;
		position: absolute;
		top: 25px;
		right: 15px;
		display: inline-block;
	}

	.toggle .site-nav {
    	transform: translateX(0);
	}
	
	.site-logo img {
		max-width: 130px;
	}
	.site-banner {
		height: 800px;
	}

	.banner-content h1 {
		font-size: 52px;
	}
	.banner-content {
		max-width: 850px;
	}
	.section-title {
		font-size: 36px;
	}
	.sub-title {
		font-size: 26px;
		max-width: 840px;
	}
	.accrodtion-card .accordion .accordion-button {
		font-size: 26px;
	}
	.approach_inside h3 {
		font-size: 28px;
	}
	.why_box h3 {
		font-size: 26px;
	}
	.why_box {
		padding: 44px 24px;
	}
	.why_box p {
		font-size: 22px;
	}
	.track-record-wrap > .grid {
		grid-template-columns: 1.5fr 1fr;
	}
	.track-record-card:first-child {
		border-width: 1px;
	}
	.track-record-card:nth-child(4) {
		border-bottom: 1px solid var(--gray);
	}
	.track-record-card:nth-child(3) {
		border-width: 1px 1px 0 1px;
	}
	.listing-type-card li h4 {
		font-size: 42px;
	}
	.listing-type-card li h4 {
		font-size: 38px;
	}
	.dev-constrution-shape-img {
		max-width: 630px;
		top: 0;
	}
	.accrodtion-card .accordion  .accordion-body {
		font-size: 22px;
	}
	.accrodtion-card p {
		font-size: 22px;
	}
	.fixed-slide-bar .social-icon li a {
		font-size: 22px;
	}
	.featured-listing .line-shape {
		max-width: 520px;
		right: 120px;
	}
	.search-ifame-flex {
    grid-template-columns: 1fr;
}
.categories-section h3 {
    font-size: 32px;
}
.blog .banner-content h1 {
    font-size: 42px;
}
.blog-listing-main {
    padding: 35px 22px;
}
.blog-card h2 {
    font-size: 32px;
}
.blog-card-content {
    padding: 20px;
}
.blog .site-banner {
    padding-top: 114px;
}
}

@media screen and (max-width:1200px){
	.container {
		max-width: calc(100% - 90px);
	}

	.fixed-slide-bar {
		width: 45px;
	}

	.secondary-btn {
		padding: 16px 22px;
		font-size: 18px;
	}

	.primary-btn {
		padding: 16px 22px;
		font-size: 18px;
	}

	.form_box .primary-btn {
		padding: 16px 22px;
	}

	.listing-slider > .swiper-button-prev, .listing-slider > .swiper-button-next {
		width: 62px;
		height: 62px;
		right: 25px;
	}

	.listing-slider > .swiper-button-prev {
		right: calc(25px + 70px);
	}
	.listing-slider > .swiper-button-prev i, .listing-slider > .swiper-button-next i {
		font-size: 22px;
	}

	.listing-type-card li h4 {
		font-size: 32px;
	}

	.section-title {
		font-size: 32px;
	}
	.sub-title {
		font-size: 24px;
		max-width: 600px;
	}
	.dev-constrution-shape-img {
		max-width: 500px;
		top: 50%;
		transform: translateY(-50%);
	}

	.accrodtion-card .accordion .accordion-button {
		font-size: 22px;
	}
	.accrodtion-card .accordion  .accordion-body {
		font-size: 20px;
	}
	.tem::before {
		left: 183px;
	}
	.accrodtion-card p {
		font-size: 20px;
	}
	.tailored-solution .container {
		padding-bottom: 220px;
	}
	.why_us .container {
		padding: 80px 45px;
	}
	.featured-listing .line-shape {
		max-width: 380px;
	}

	.single-screen-content h1 {
		font-size: 62px;
	}
	.single-screen-content h2 {
		font-size: 32px;
	}
	.accordin-filter-left .dropdown {
    padding: 3px 28px 3px 5px;
}
.accordin-filter-left .dropdown-toggle::after {
top: 10px;
right: 11px;
width: 18px;
HEIGHT: 23PX;
}
.accdin-result a {
font-size: 15px;
}
.categories-section li a {
font-size: 21px;
}
.blog-list .blog-item h4 {
font-size: 21px;
}
.blog-card-footer span {
    font-size: 14px;
}
.grid-span-2 {
    grid-column: span 1;
}
.blog-grid {
    grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (max-width:1024px){
	.track-record-wrap > .grid {
		grid-template-columns: 1fr 1fr;
	}
	.banner-content h1 {
		font-size: 42px;
	}
	.site-banner {
		height: 700px;
	}
	.section-title {
		font-size: 28px;
	}
	.sub-title {
		font-size: 22px;
		max-width: 600px;
	}
	.banner-content h1 {
		font-size: 40px;
	}
	.banner-content {
		max-width: 600px;
	}
	.track-record-content {
		padding: 35px;
	}
	.track-record-card {
		padding: 25px 25px;
	}
	.track-record-card h4 {
		font-size: 38px;
	}
	.track-record-content h5 {
		margin: 0 0 40px 30px;
	}
	.dev-constrution-wrap > .grid {
		grid-template-columns: 1fr 1fr;
	}
	.footer-nav li a {
		font-size: 20px;
	}
	.addresss {
		padding: 44px 25px;
	}
	.addresss p {
		font-size: 22px;
	}
	.addresss li {
		font-size: 18px;
	}

	.awards-reco .container {
		padding: 80px 0;
	}
}
@media screen and (max-width:991px){
	.banner-content {
		margin-left: 10px;
	}
	.back-to-bottom {
		left: 20px;
	}
	.site-header .container {
		padding: 20px;
	}
	.track-record-wrap > .grid {
		grid-template-columns: 100%;
	}
	.track-record-card:first-child {
		border-width: 0 0 0 1px;
	}
	.track-record-card:nth-child(3) {
		border-width: 1px 0 0 1px;
	}
	.track-record-card:nth-child(4) {
		border-bottom: 0;
	}
	.track-record-card-main {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}

	.footer-columns {
		display: grid;
		grid-template-columns: 100%;
		grid-row-gap: 40px;
	}
	.footer-nav ul {
		padding-right: 25px;
		padding-left: 25px;
		grid-column-gap: 44px;
	}

	.form-row {
		flex-wrap: wrap;
	}
	.form_box .input_dest {
		flex-grow: 1;
	}
	.form_add_on {
		flex-wrap: wrap;
	}
	.form-checks {
		flex-wrap: wrap;
	}
	.form-checks {
		flex-wrap: wrap;
		justify-content: start;
		margin-left: 0;
		margin-bottom: 24px;
	}
	.form-row.flow_btn {
		margin: 0;
		order: 2;
	}
	.dev_two {
		padding: 24px;
	}
	.heading-deatils {
		padding-left: 20px;
	}
	.Approach .container {
		padding: 84px 0;
	}
	.Approach .grid-cols-3 {
		padding-top: 0;
		grid-template-columns: 100%;
	}
	.approach_inside {
		padding: 24px;
	}
	.listing-slider > .swiper-button-prev, .listing-slider > .swiper-button-next {
		top: -60px;
	}
	.featured-listing .heading-deatils {
		margin-bottom: 100px;
	}
	.listing-card-header {
		padding: 24px 24px 24px;
	}
	.listing-card-content {
		padding: 24px;
	}
	.listing-type-card li h4 {
		font-size: 30px;
	}
	.listing-type-card li {
		padding: 32px 25px;
		height: 130px;
	}
	.listing-type-card li:hover {
		height: 180px;
	}

	.dev-constrution-wrap > .grid {
		grid-template-columns: 100%;
	}
	.dev-constrution-shape-img {
		max-width: 450px;
		position: static;
		transform: translateY(0);
	}

	.tailored-solution-wrap {
		padding-top: 80px;
	}
	.tailored-solution-wrap .heading-deatils {
		margin: 0 0 80px;
	}
	.accrodtion-card {
		padding: 80px 25px;
	}
	.accrodtion-card .accordion .accordion-button {
		font-size: 20px;
		padding: 20px 0;
	}
	.tailored-solution-wrap .grid {
		grid-template-columns: 100%;
	}
	.tailored-solution-wrap .grid .item:first-child .accrodtion-card:last-child {
		margin-bottom: 0;
	}
	.tailored-solution .container {
		padding-bottom: 80px;
	}
	.capital .container {
		padding: 80px 25px;
	}
	.why_us .container {
		padding: 80px 25px;
	}
	.top_box {
		padding: 60px 25px;
		margin-top: 0;
	}
	.section-title {
		font-size: 26px;
	}
	.sub-title {
		font-size: 20px;
		max-width: 100%;
	}

	.devlop .devlop-warp {
		padding: 80px 25px 64px;
	}

	.form_box {
		padding: 80px 25px;
	}
	.footer-bottom {
		padding: 44px 24px 20px;
	}
	.approach_inside h3 {
		font-size: 24px;
	}
	.coommercail-sales {
		margin-right: 0;
	}
	.commercial-sale-content h3 {
		font-size: 84px;
	}
	.commercial-sale-content p {
		text-align: center;
	}
	.dev-constrution-wrap {
		padding: 0;
	}
	.brokerage .section-title {
		padding-left: 25px;
	}
	.track-record-content {
		padding: 25px;
	}
	.why_box h3 {
		font-size: 24px;
	}
	.why_box p {
		font-size: 20px;
	}
	.dev_two h3 {
		font-size: 24px;
	}
	.accrodtion-card p {
		font-size: 18px;
	}
	.app_box {
		padding: 0 25px;
	}
	.featured-listing .line-shape {
		max-width: 300px;
		right: 80px;
	}
	.viva-real h1 {
    font-size: 43px;
    max-width: 600px;
    margin: 0 auto;
}
.viva-real p {
font-size: 28px;
}

.leadership-sliders .owl-nav {
top: -118px;
gap: 9px;
width: 144px;
}
.leadership-sliders .owl-nav button.owl-prev {
width: 65px;
height: 65px;
}
.leadership-sliders .owl-nav button:before {
top: 11px;
}
.leadership-sliders .owl-nav button.owl-next {
width: 65px;
height: 65px;
}
.leadership-child .content p {
font-size: 20px;
}
.leadership-child .content {
padding-top: 16px;
}
.heading-bar h2 {
font-size: 43px;
}
.search-accordian-sec .accordion-item .accordion-button h3 {
font-size: 48px;
padding-left: 40px;
}
.search-accordian-sec .accordion-item .accordion-button::after {
right: 40px;
}
.blog-banner-grid {
    grid-template-columns: 1fr;
}
.blog .site-banner {
    padding-top: 78px;
}
}


@media screen and (max-width:768px){
	.site-logo img {
		max-width:120px;
	}
	.footer-logo img {
		max-width: 120px;
	}
	
	.track-record-card-main {
		grid-template-columns: 100%;
	}

	.accrodtion-card {
		padding: 40px 25px;
	}
	
	.devlop .grid-cols-2 {
		grid-template-columns: 100%;
	}
	.dev_two {
		padding: 24px 12px;
	}
	.tem {
		margin-top: 24px;
	}

	.banner-content h1 {
		font-size: 34px;
	}
	.approach_inside-icon {
		max-width: 50px;
	}
	.why_box img {
		max-width: 50px;
	}
	.track-record-card:first-child {
		border-width: 1px;
	}
	.track-record-card:nth-child(3) {
		border-width: 1px 1px 0 1px;
	}
	.track-record-card:nth-child(4) {
		border-bottom: 1px solid var(--gray);
	}
	.track-record-content h5 {
		font-size: 28px;
	}
	.commercial-sale-content {
		padding: 140px 10px;
	}
	.accrodtion-card .accordion  .accordion-body {
		font-size: 18px;
	}
	input.input_dest {
		padding: 12px 16px;
	}
	.featured-listing .line-shape {
		max-width: 250px;
	}
	.single-screen-content h1 {
		font-size: 52px;
	}
	.single-screen-content .check-icon {
		width: 80px;
		height: 80px;
		margin: 0 auto 20px;
	}
	.single-screen-content h2 {
		font-size: 26px;
	}
	.single-screen-content p {
		font-size: 20px;
	}
	.we-list-content h2 {
    font-size: 25px;
}
.we-list-content p {
    font-size: 18px;
    padding: 4px 0 0;
}
.we-list-num p {
    font-size: 18px;
    padding-bottom: 6px;
}
.article-grid {
    grid-template-columns: 1fr;
    grid-gap: 9px;
}
.article-grid p {
    font-size: 18px;
}
.viva-real p {
font-size: 18px;
}
.viva-real h1 {
font-size: 35px;
}
.search-listing-banner-bg .banner-content p {
font-size: 18px;
}
.search-listing-banner-bg .banner-content h1 {
margin-bottom: 20px;
}
.search-listing-banner-bg.team-bg {
height: 411px;
}

.heading-bar {
padding-left: 26px;
}

.leadership-sliders .owl-nav button:before {
top: 12px;
left: 11px;
width: 29px;
height: 29px;
}
.leadership-sliders .owl-nav button.owl-prev {
width: 55px;
height: 55px;
}
.leadership-sliders .owl-nav button.owl-next {
width: 55px;
height: 55px;
}
.leadership-sliders .owl-nav {
top: -104px;
width: 121px;
right: 26px;
}
.heading-bar h2 {
font-size: 25px;
}
.leadership-img svg {
bottom: -93px;
}
.search-listing-banner-bg {
height: 401px;
}
.search-ifame-right-content h3 {
    font-size: 18px;
}
.search-ifame-right-content a {
    font-size: 15px;
}
.search-ifame-right-fixed img {
    max-width: 63px;
}
.search-accordian-sec .accordion-item .accordion-button h3 {
    font-size: 29px;
}
.search-accordian-sec .accordin-filter-flex {
    flex-direction: column;
}
.accordin-filter-left {
    flex-direction: column;
    width: 100%;
}
.search-filter {
    max-width: 100%;
}
.accordin-filter-left .dropdown {
    max-width: 100%;
}
.accdin-galler p {
    font-size: 15px;
}
.accdin-result a {
    font-size: 15px;
    padding: 12px 12px 12px 12px;
}
.search-accordian-sec .accordion-body {
    max-width: 100%;
}
span.line-article {
margin-top: 36px;
}
.blog .banner-content h1 {
    font-size: 32px;
}
.blog-grid {
    grid-template-columns: repeat(1, 1fr);
}
.breadcrumb .breadcrumb-item {
    font-size: 18px;
}
.banner-content p {
    font-size: 18px;
}
.blog-card h2 {
    font-size: 28px;
}
}

@media screen and (max-width:575px){
	.container {
		max-width: calc(100% - 45px);
		margin-left: 0;
	}
	.site-nav {
		max-width: 100%;
	}
	.site-logo img {
		max-width: 90px;
	}
	.banner-content h1 {
		font-size: 28px;
	}
	.listing-type-card li h4 {
		font-size: 26px;
	}
	.secondary-btn {
		padding: 12px 22px;
		font-size: 16px;
	}
	.primary-btn {
		padding: 12px 22px;
		font-size: 16px;
	}
	.section-title {
		font-size: 24px;
	}
	.sub-title {
		font-size: 18px;
	}
	.approach_inside h3 {
		font-size: 22px;
	}
	.approach_inside h3 {
		font-size: 22px;
		margin: 34px 0 24px;
	}

	.track-record-card h4 {
		font-size: 32px;
	}
	.why_us .grid {
		grid-template-columns: 100%;
	}

	.listing-type-card li {
		height: 100px;
	}
	.listing-type-card li:hover {
		height: 120px;
	}
	.listing-type-card li .primary-btn {
		padding: 16px 22px;
		font-size: 14px;
	}
	.footer-bottom {
		flex-wrap: wrap;
		gap: 20px;
	}
	.footer-nav ul {
		grid-column-gap: 24px;
		grid-row-gap: 24px;
	}

	.site-banner {
		height: 550px;
	}
	.why_box h3 {
		font-size: 22px;
	}
	.why_box p {
		font-size: 18px;
	}

	.dev_two h3 {
		font-size: 22px;
	}
	.dev_two p {
		font-size: 16px;
	}
	.top_tier > img {
		padding-right: 45px;
	}
	.awards-slider img{
		max-width: 130px;
	}
	.tem::before {
		left: 160px;
	}

	.commercial-sale-content {
		padding: 80px 10px;
	}
	.commercial-sale-content h3 {
		font-size: 64px;
	}
	.dev_one, .dev_two {
		width: 100%;
	}
	.single-screen-content h1 {
		font-size: 42px;
	}
	.single-screen-content p {
		font-size: 18px;
	}
	.single-screen-content h2 {
		font-size: 24px;
	}
	.viva-real h1 {
    font-size: 30px;
}

.breadcrumb-center a {
    font-size: 18px;
}
.article-social ul li a i {
font-size: 20px;
}
.banner-bread a {
font-size: 18px;
}
.heading-bar h2 {
    font-size: 24px;
}
.leadership-sliders .owl-nav {
top: -104px;
}
.search-accordian-sec .accordion-item .accordion-button h3 {
font-size: 20px;
padding-left: 6px;
}
.search-accordian-sec .accordion-item .accordion-button::after {
right: 21px;
}
.search-ifame-right-content {
width: 100%;
padding: 42px 84px 48px 19px;
}
.search-ifame-right-img {
width: 100%;
}
.search-ifame-right {
flex-direction: column;
}
.search-filter {
min-width: 156px;
}
.accordin-filter-left .search-filter .dropdown button {
min-width: auto;
}
.search-filter label {
    top: 10px;
}
.search-filter label img {
    width: 23px;
}
.search-ifame-right-fixed {
    top: 50%;
    transform: translateY(-50%);
}
.blog .banner-content h1 {
    font-size: 28px;
    line-height: normal;
}
.blog-list .blog-item h4 {
    font-size: 18px;
}
.blog-list .blog-item .meta {
        font-size: 13px;

}
.blog-list .categories {
    font-size: 15px;
}
.categories-section h3 {
    font-size: 26px;
}
.categories-section li a {
    font-size: 18px;
}
.blog-card h2 {
    font-size: 22px;
}
.blog-card-footer {
    padding: 24px 21px;
}
.pagination ul {
    display: none;
}
.viva-real span {
    font-size: 14px;
}
.article-social ul {
    gap: 6px;
}
.article-ban-date span {
    font-size: 14px;
}
}

@media screen and (max-width:480px){
	.banner-content h1 {
		font-size: 24px;
		line-height: 1.7;
	}
	.section-title {
		font-size: 22px;
	}
	.sub-title {
		font-size: 17px;
	}
	.listing-card-header p {
		font-size: 20px;
	}
	.listing-card-content li {
		font-size: 16px;
	}
	.listing-card-header {
		padding: 20px 15px 20px;
	}
	
	.listing-card-footer {
		padding: 20px 15px;
	}
	.listing-card-content {
		padding: 20px 15px;
	}
	.listing-card-header p {
		font-size: 18px;
	}
	.footer-nav ul {
		grid-template-columns: 100%;
	}
	.footer-bottom p {
		font-size: 14px;
	}
	.commercial-sale-content {
padding: 50px 10px;
}
.listing-type-card li h4 {
font-size: 22px;
}
.we-list-bg {
padding: 18px;
}
.heading-bar h2 {
font-size: 17px;
}
.heading-bar {
padding-left: 18px;
}
.leadership-sliders .owl-nav {
right: 18px;
        top: -97px;
width: 103px;
}
.leadership-sliders .owl-nav button:before {
top: 10px;
left: 12px;
width: 21px;
height: 23px;
}
.leadership-sliders .owl-nav button.owl-prev {
width: 47px;
height: 47px;
}
.leadership-sliders .owl-nav button.owl-next {
width: 47px;
height: 47px;
}
}


@media screen and (max-width:360px){
.heading-bar h2 {
    font-size: 13px;
}
}