/* font-faimly  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*global start*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

:root {
   
    --black:#1A1A1A;
    --theme-clr:#BF9455;
    --gray:#E8E8E8;
    --helvetica:'Helvetica';
    --roboto:"Roboto", sans-serif;
    
}
body {
    font-family:var(--helvetica);
    color: #fff;
    background: var(--black);
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

a:hover {
    color: inherit;
}

img,
video {
    max-width: 100%;
}

span {
    display: inline-block;
}
summary {
    list-style-type: none;
}

figure{
    margin:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family:var(--helvetica);
}

p{
    color:var(--black);
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 25.2px */
}
.container {
    width: 100%;
    /* max-width: 1743px; */
    max-width: calc(100% - 196px);
    margin: 0 auto;
    padding: 0;
    border-left:1px solid rgb(255 255 255 / 20%);
    border-right:1px solid rgb(255 255 255 / 20%);
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.item {
    width: 100%;
}
.grid-span-2 {
    grid-column: span 2;
}
.mobile-menu {
    display: none;
}

#main {
    border-width: 0 1px;
    position: relative;
    margin: 0 auto;
}


/* site btns */
.primary-btn {
    padding: 24px 55px;
    color: #fff;
    background: var(--black);
    font-size: 18px;
    line-height: 20px;
    font-family: Helvetica;
    font-weight: 300;
    transition: all 0.2s linear;
}
.primary-btn:hover {
    background: var(--theme-clr);
}

/* .primary-btn:hover{
    border: 2px solid transparent;
    color:var(--black);
    transform: scale(1);
}
.primary-btn::before {
    background-color:#fff;
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
}
.primary-btn:hover::before{
    transform: translate(0, 0);
}
.primary-btn.bg-transparent {
    background: transparent;
    border: 1px solid var(--orange);
}
.primary-btn span {
    transition: all 0.2s linear;
}
.primary-btn:hover span {
    transform: translateY(-50px);
}
.primary-btn.bg_white:hover {
    color: #fff;
}
.primary-btn.bg_white::before {
    background-color: var(--orange);
} */

.secondary-btn {
    padding: 24px 32px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.10);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    color: #fff;
    transition: all 0.3s linear;
    position: relative;
    /* background: linear-gradient(90deg, #fff 0%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.secondary-btn:hover {
    border: 1px solid var(--theme-clr);
    background: rgba(245, 242, 170, 0.10);
    background: transparent;
    color: var(--theme-clr);
}

.secondary-btn::before {
    content: "";
    background: rgba(245, 242, 170, 0.10);
    box-shadow: 0px -12px 24px 0px rgba(186, 115, 0, 0.25) inset;
    background: linear-gradient(90deg, #BF9455 0%, #F5F2AA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: all 0.3s linear;
}
.secondary-btn:hover::before {
    opacity: 1;
}
/* site btns  */
/*header start*/
.site-header {
    background: transparent;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
}
/* .site-header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 39px 15px;
    border-color: rgba(255 255 255 /2%);
    border-bottom: 1px solid rgba(255 255 255 /20%);
} */

.site-header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 39px 42px;
    /* border-color: rgba(255 255 255 /2%); */
    border-bottom: 1px solid rgba(255 255 255 /20%);
}
.desktop-menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 100px;
    align-items: center;
}

li.site-logo.desktop-logo {
    width: 300px;
    text-align: center;
}
.site-logo img {
    max-width: 165px;
}

.site-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.site-nav li a {
    color: #FFF;
    position: relative;
    transition: all 0.2s linear;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
}
.site-nav li a:hover {
    color: var(--theme-clr);
}

.site-nav li a.active {
    color: var(--theme-clr);
}

.site-nav li a.secondary-btn {
    padding: 18px 24px;
    font-size: 18px;
}
.menu-toggle{
    display: none;
}

.menu-toggle .bar-1, .bar-2, .bar-3 {
    width: 40px;
    height: 2px;
    background-color: #fff;
    margin: 8px 0;
    transition: all 0.3s linear;
    display: block;
}

.closed-menu{
    display: none;
}
/*header end*/ 
.section-title {
    color: #fff;
    font-size: 64px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 24px;
}
span.highlight {
    color: var(--orange);
}
.sub-title {
    color: #fff;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: 300;
    line-height: 140%;
    max-width: 1020px;
    margin: 0;
}
/* site banner start  */
.site-banner {
    position: relative;
    isolation: isolate;
    height: 1080px;
    /* width: calc(100% + 192px);
    margin-left: -96px; */

}
.site-banner::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(0 0 0 / 55%);
}
.site-banner .banner-img {
    position: absolute;
    inset: 0;
    z-index: -1;
}
.banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.site-banner .container {
    height: 100%;
    position: relative;
    z-index: 1;
}
.site-banner-warp {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


.banner-curve-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
.banner-video {
    height: 100%;
}

.banner-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-content {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1275px;
    padding: 0 10px;
    margin-left: 145px;
}
.banner-content h1 {
    color: #FFF;
    font-size: 96px;
    font-weight: 400;
    line-height: normal;
    text-wrap: balance;
    margin: 0 0 44px;
}
.banner-content p {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 140%;
}
.banner-overlay-shape {
    width: 100%;
    height: 525px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.00) 0%, #1A1A1A 100%);
}
/* site banner end */
.back-to-bottom {
    background: transparent;
    color: #fff;
    border: 0;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    left: 155px;
    bottom: 20px;
    z-index: 1;
    font-size: 18px;
    font-family: 'Helvetica';
}
.fixed-slide-bar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 98px;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon {
    margin-top: auto;
}

.fixed-slide-bar .social-icon li a {
    color: #fff;
    font-size: 20px;
    transition: all 0.2s linear;
}
.fixed-slide-bar .social-icon li a:hover {
    color: var(--theme-clr);
}
.social-icon li:not(:last-child) {
    margin-bottom: 84px;
}

.back-to-top {
    margin-top: auto;
    background: transparent;
    color: #fff;
    border: 0;
    font-size: 25px;
    transition: all 0.2s linear;
    margin-bottom: 20px;
    opacity: 0;
}
.back-to-top.show {
    opacity: 1;
}

.back-to-top:hover {
    color: var(--theme-clr);
}


.site-footer {
    background: var(--black);
}

.footer-columns {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-column-gap: 88px;
    align-items: center;
}
.footer-nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 88px;
    grid-row-gap: 32px;
    padding-right: 44px;
}
.addresss p {
    color:var(--black);
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.addresss li:not(:last-child) {
    margin: 0 0 12px;
}
.footer-nav li a {
    color: #fff;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s linear;
}
.footer-nav li a:hover {
    color: var(--theme-clr);
}
.addresss {
    padding: 88px 72px;
    background: #fff;
}
.addresss h5 {
    color: #BF9455;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 44px;
}
.addresss ul {
    margin: 44px 0 0;
}
.addresss li {
    color: var(--black);
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    align-items: start;
}
.addresss li img {
    width: 24px;
    margin-right: 12px;
}
.footer-bottom p {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: rgb(255 255 255 / 50%);
    margin: 0;
}
.footer-bottom {
    padding: 44px 44px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* hcp logo  */

.iqsay_logo a {
    max-width: 150px;
    position: relative;
}

.iqsay_logo a img {
    transition: ease all 0.4s;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.iqsay_logo a img.with_hvr {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.iqsay_logo a:hover img {
    filter: none;
}

.iqsay_logo a:hover img.with_hvr {
    opacity: 1;
    visibility: visible;
}
/* hcp logo end */


.awards-reco {
    background:var(--black);
    overflow: hidden;
}
.awards-reco .container {
    padding: 190px 0;
}
.awards-reco .swiper.awards-slider {
    overflow: visible;
    margin-top: 42px;
}
.awards-reco .swiper-wrapper {
    align-items: center;
}
.awards-slider .swiper-button-prev, .awards-slider .swiper-button-next {
    display: none !important;
}

.awards-slider img {
    opacity: 0.5;
    transition: all 0.2s linear;
}
.awards-slider img:hover{
    opacity: 1;
}
.awards-slider .swiper-slide{
    text-align: center;
    margin: 0 42px;
}
.featured-listing {
    background: var(--black);
    position: relative;
}
.featured-listing .line-shape {
    position: absolute;
    top: 0;
    right: 140px;
    transform: translateY(-50%);
}
.heading-deatils {
    padding-left: 145px;
}
.featured-listing-warp {
    margin-top: 70px;
}
.listing-card {
    background: #fff;
    color: var(--black);
}

.listing-card-header {
    padding: 44px 44px 24px;
}
.listing-card-showcase {
    position: relative;
}
.listing-card-img {
    overflow: hidden;
    height: 270px;
    position: absolute;
    inset: 0;
    z-index: 1;
    transition: all 0.2s linear;
}
.listing-card-showcase:hover .listing-card-img {
    opacity: 0;
    visibility: hidden;
}
.listing-card-img img {
    transition: all 0.2s linear;
    transform-origin: bottom;
}
.listing-card:hover .listing-card-img img {
    transform: scale(1.2);
}

.listing-card-showcase:hover .listing-card-img img {
    transform: scale(1);
}
.listing-card-header span {
    color: #BF9455;
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
    margin: 0 0 6px;
}
.listing-card-header p {
    overflow: hidden;
    color: var(--black);
    text-overflow: ellipsis;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin: 0;
}
.listing-card-content {
    padding: 44px 32px;
}

.listing-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.listing-card-content li:not(last-child) {
    margin-bottom: 12px;
}
.listing-card-content li {
    color: var(--black);
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
    display: flex;
    align-items: center;
}
.listing-card-content li img {
    max-width: 24px;
    margin-right: 12px;
}

.listing-card-footer {
    padding: 24px 44px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--gray);
    position: relative;
    isolation: isolate;
}
.listing-card-footer::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    transition: all 0.2s linear;
    background: linear-gradient(85deg, #F1DE83 -75.3%, #A87934 100.82%);
    opacity: 0;
}

.listing-card:hover .listing-card-footer::before {
    opacity: 1;
}
.unit-info {
    color: rgb(26 26 26 / 50%);
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    transition: all 0.2s linear;
}

.unit-info span:first-child {
    margin-right: 12px;
    position: relative;
    padding-right: 12px;
}
.unit-info span:first-child::after {
    content: "";
    position: absolute;
    background: var(--gray);
    height: 20px;
    width: 1px;
    right: 0;
}
.listing-card:hover .unit-info {
    color: #fff;
}
.read-more {
    color: var(--black);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
    transition: all 0.2s linear;
}
.read-more i {
    margin-left: 10px;
}

.listing-card:hover .read-more {
    color: #fff;
}

.showcase-slider-item {
    overflow: hidden;
    height: 270px;
}
.showcase-slider-item::before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 69.5%, rgba(0, 0, 0, 0.50) 100%);
    inset: 0;
}
.showcase-slider .swiper-button-prev, .showcase-slider .swiper-button-next {
    color: #fff;
}

.showcase-slider .swiper-pagination .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.5;
}
.showcase-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}
.listing-slider .swiper-wrapper .swiper-slide {
    height: auto;
}
.explore-more-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.05);
    transition: all 0.2s linear;
}

.explore-more-slide:hover {
    border: 2px solid var(--theme-clr);
    background: rgba(245, 242, 170, 0.10);
    box-shadow: 0px -12px 24px 0px rgba(186, 115, 0, 0.25) inset;
}

.explore-more-slide a {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 140%;
}

.explore-more-slide a i {
    margin-left: 10px;
}

.explore-more-slide:hover a {
    background: var(--Gold, linear-gradient(90deg, #BF9455 0%, #F5F2AA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.listing-slider.swiper {
    overflow: visible;
    overflow-x: clip;
}
.listing-slider > .swiper-button-prev, .listing-slider > .swiper-button-next {
    width: 72px;
    height: 72px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.05);
    top: -120px;
    right: 145px;
    left: auto;
}
.listing-slider > .swiper-button-prev {
    right: calc(145px + 84px);
}
.listing-slider > .swiper-button-next {
    border: 1px solid var(--theme-clr);
    background: rgba(245, 242, 170, 0.10);
    box-shadow: 0px -12px 24px 0px rgba(186, 115, 0, 0.25) inset;
}
.listing-slider > .swiper-button-prev i, .listing-slider > .swiper-button-next i {
    font-size: 30px;
    color: #fff;
}
.listing-slider > .swiper-button-prev::after, .listing-slider > .swiper-button-next::after {
    opacity: 0;
    width: 0;
}

.listing-type {
    background:var(--black);
}
.listing-type-card {
    padding-top: 24px;
}
.listing-type-card li {
    position: relative;
    height: 194px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 145px;
    isolation: isolate;
    transition: all 0.2s linear;
}
.listing-type-card li:hover {
    height: 260px;
}
.listing-type-img {
    position: absolute;
    inset: 0;
    z-index: -1;
}


.listing-overlay {
    background: linear-gradient(90deg, #A86A0F 0%, #ECEA67 100%);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.2s linear;
}
.listing-type-img img {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    inset: 0;
    mix-blend-mode: plus-lighter;
    transition: all 0.3s linear;
    object-fit: cover;
}
.listing-type-card li:hover .listing-type-img img {
    transform: scale(1.1);
}
.listing-type-card li:hover .listing-overlay {
    opacity: 1;
}
.listing-type-card li h4 {
    color: #fff;
    font-family: Helvetica;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}

.listing-type-card li .primary-btn {
    opacity: 0;
    transition: all 0.2s linear;
    padding: 20px 24px;
}

.listing-type-card li:hover .primary-btn {
    opacity: 1;
}

.track-record {
    background: var(--black);
    position: relative;
}
.track-record-wrap {
    background: #fff;
}
.track-record-content {
    padding: 110px 70px;
}
.track-record-wrap > .grid {
    grid-template-columns: 2fr 1fr;
}
.track-record-card-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.track-record-card {
    padding: 25px 75px;
    border: 1px solid var(--gray);
}
.track-record-card:first-child {
    border-width: 0 0 0 1px;
}
.track-record-card:nth-child(2) {
    border-width: 0 1px 0 1px;
}
.track-record-card:nth-child(3) {
    border-width: 1px 0 0 1px;
}
.track-record-card:nth-child(4) {
    border-bottom: 0;
}
.track-record-content h5 {
    color: #1A1A1A;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: 300;
    line-height: 140%;
    margin: 0 0 47px 80px;
}

.track-record-card h4 {
    background: linear-gradient(90deg, #BF9455 0%, #F5F2AA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    font-weight: 300;
    line-height: 140%;
    margin: 0 0 12px;
}

.coommercail-sales {
    position: relative;
    height: 100%;
    margin-right: 60px;
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
}
.commercial-sale-bg {
    height: 100%;
    width: 100%;
}
.commercial-sale-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.commercial-sale-content {
    background: #fff;
    padding: 80px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 280px;
    text-align: center;
}
.commercial-sale-content p {
    text-align: left;
}
.commercial-sale-content h3 {
    background: linear-gradient(90deg, #BF9455 0%, #F5F2AA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 180px;
  
}

/* why styling start */
.why_head .section-title {
    color: var(--black);
    margin-bottom: 44px;
}

.why_box {
    background: #F6F6F6;
    padding: 44px;
    height: 100%;
}

.why_box > img{
    max-width: 84px;
}

.why_box h3 {
    font-size: 32px;
    line-height:140%;
    font-family: Helvetica;
    color: var(--black);
    font-weight: 300;
    margin: 44px 0 24px;
}

.why_box p {
    font-size: 24px;
    line-height: 140%;
    font-family: Helvetica;
    color: var(--black);
    font-weight: 300;
    margin: 0;
}

.why_us .grid {
    gap: 24px;
}

.why_us .container {
    background: #fff;
    padding: 164px 145px;
}

.why_us {
    background: var(--black);
}

.why_us .grid {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

/* why styling start */
/* top_tier styling start */
.top_tier .container-fluid {
    padding: 0;
}

.top_box h2 {
    color: var(--black);
    font-weight: 300;
}

.top_box .sub-title {
    color: var(--black);
    margin: 24px auto;
    max-width: 1200px;
}

.button_add {
    padding: 24px 55px;
    color: #fff;
    background: var(--black);
    font-size: 18px;
    line-height: 20px;
    font-family: Helvetica;
    font-weight: 300;
}

.top_box {
    background-color: #fff;
    padding: 84px;
    text-align: center;
    margin-top: -200px;
    position: relative;
    width: 100%;
    max-width: 1438px;
    margin: -250px auto 0;
}

.top_tier .container {
    padding-bottom: 124px;
}
/* top_tier styling end */
/* form section styling start */
.form-container {
    border-radius: 8px;
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
}

.consultation-form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

input.input_dest {
    flex: 1;
    padding: 18px 24px;
    font-size: 18px;
    border: 1px solid rgba(26, 26, 26, 0.20);
    background: var(--White-Main, #FFF);
}
input.input_dest::placeholder {
    color: #a1a1a1;
}
button.button_add {
    padding: 24px 55px;
    color: #fff;
    background: var(--black);
    font-size: 18px;
    line-height: 20px;
    font-family: Helvetica;
    font-weight: 300;
}

.form-checks {
    display: flex;
    justify-content: space-around;
    gap: 44px;
    align-items: center;
    margin-left: 44px;
}

.form_add_on {
    display: flex;
    margin-top: 8px;
}

.form-checks label {
    display: block;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.form-row.flow_btn {
    margin: 0;
    min-width: max-content;
}

input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}


.linear .container {
    padding-bottom: 64px;
}
.form_box {
    background: linear-gradient(87deg, #A87934 2.76%, #F1DE83 100.58%);
    padding: 94px 45px;
}
.form_add_on .form-checks label {
    display: flex;
    align-items: center;
}
.form_box .primary-btn {
    padding: 24px;
    border: 1px solid var(--black);
}
/* form styling end */
/* development styling start */
.devlop {
    background: var(--black);
}

.devlop .devlop-warp {
    background: #fff;
    padding: 145px 145px 64px;
}
.devlop .container {
    padding-top: 124px;
    overflow: hidden;
}
.devlop_head .section-title {
    color: var(--black);
    font-weight: 300;
}

.devlop_head .sub-title {
    color: var(--black);
    margin: 24px 0 64px;
    max-width: unset;
}

.devlop_box {
    display: flex;
    flex-wrap: wrap;
}

.dev_one img {
    width: 100%;
}

.dev_one {
    width: 50%;
}

.dev_two {
    padding: 32px;
    width: 50%;
}

.devlop .grid-cols-2 {
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
}

.dev_two h3 {
    color: var(--black);
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}

.dev_two p {
    color: var(--black);
    padding: 12px 0;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
}
.explore_btn i {
    margin-left: 3px;
}
.explore_btn {
    position: relative;
    color: var(--black);
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
}
.explore_btn:hover {
    color: var(--black);
}
.tem {
    margin-top: 64px;
    position: relative;
}

.tem::before {
    content: "";
    position: absolute;
    background: rgba(0 0 0 /10%);
    height: 1px;
    right: 0;
    top: 50%;
    width: calc(100% + 100vw);
    left: 249px;
}
/* development styling end */
/* capital section start */
.capital {
    background: #1A1A1A;
}

.capital .container {
    background: url(../images/capitalbg.png);
    background-position: center;
    background-size: cover;
    padding: 165px 145px;
}

.capital .sub-title {
    max-width: unset;
    margin-top: 44px;
}

/* capital section end */
/* Approach section start */
.Approach {
    background: var(--black);
}

.Approach .container {
    padding: 124px 145px;
}

.approach_inside {
    padding: 64px 44px;
    border-bottom: 4px solid #3C3C3C;
    height: 100%;
    transition: all 0.3s linear;
    position: relative;
    isolation: isolate;
}



.approach_inside::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(191, 148, 85, 0.50) 0%, rgba(26, 26, 26, 0.00) 100%);
    transition: all 0.3s linear;
    opacity: 0;
}

.approach_inside::after {
    content: "";
    position: absolute;
    border-radius: 742px;
    opacity: 0.4;
    background:linear-gradient(90deg, #BF9455 0%, #F5F2AA 100%);
    filter: blur(166.5px);
    width: 100%;
    height: 400px;
    transition: all 0.2s linear;
    opacity: 0;
    top: 100%;
    left: 0;
}
.approach_inside:hover {
    border-bottom: 4px solid var(--theme-clr);
}

.approach_inside:hover::before{
    opacity: 1;
}
.approach_inside:hover::after{
    opacity: 1;
}

.approach_inside-icon {
    max-width: 84px;
}
.Approach .grid-cols-3 {
    gap: 12px;
    padding-top: 54px;
    border-top: 1px solid #3C3C3C;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
}

.approach_inside h3 {
    color: #fff;
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    margin: 44px 0 24px;
}

.approach_inside p {
    color: #fff;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}

.app_box .sub-title {
    padding: 0 0 54px;
}

/* Approach section end */

/* brokerage section start  */
.dev-constrution-wrap {
    padding: 0 145px;
}

.brokerage .section-title {
    font-weight: 300;
    max-width: 450px;
    position: relative;
    z-index: 1;
}
.dev-constrution {
    position: relative;
}
.dev-constrution-shape-img {
    width: 100%;
    position: absolute;
    max-width: 1080px;
    top: -50px;
    left: 0;
}
.dev-constrution-shape-img img {
    width: 100%;
}
.dev-constrution-wrap > .grid {
    grid-template-columns: 1.5fr 1fr;
}


.brokerage .Approach .grid-cols-3 {
    border: 0;
}


/* brokerage section end  */


/* tailored-solution start  */
.heading-deatils span {
    color:var(--theme-clr);
    font-size: 32px;
    font-weight: 300;
    line-height: 140%;
}

.tailored-solution-wrap {
    background: #fff;
    padding-top: 145px;
    padding-left: 24px;
    padding-right: 24px;
}

.tailored-solution-wrap .grid {
    grid-gap: 12px;
}
.tailored-solution-wrap .section-title {
    color: var(--black);
    font-weight: 300;
}

.tailored-solution-wrap .sub-title {
    color: var(--black);
    max-width: 80ch;
}
.tailored-solution-wrap .heading-deatils {
    margin: 0 0 96px;
}
.accrodtion-card {
    padding: 124px 64px;
    background: #f6f6f6;
    margin: 0 0 12px;
}

.capital-market {
    background-image: url('../images/capital-card-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.capital-market .accordion  .accordion-item {
    border-color: #e8e8e859;
}

.capital-market .accordion  .accordion-item:last-child {
    border-color: #e8e8e859;
}
.accrodtion-card .accordion * {
    background: transparent;
}

.accrodtion-card .accordion .accordion-button {
    color: var(--black);
    font-size: 32px;
    font-weight: 300;
    line-height: 140%;
    padding: 24px 0;
}

.accrodtion-card .accordion  .accordion-body {
    color:var(--black);
    font-size: 24px;
    font-weight: 300;
    line-height: 140%;
}


.accrodtion-card .accordion .accordion-button:focus {
    box-shadow: none;
}

.capital-market p {
    color: #fff;
}

.capital-market .section-title {
    color: #fff;
}

.accrodtion-card.capital-market .accordion .accordion-button {
    color: #fff;
}

.accrodtion-card.capital-market .accordion  .accordion-body {
    color: #fff;
}
.accrodtion-card p {
    font-size: 24px;
}
.find-answer {
    padding: 84px 64px;
    overflow: hidden;
    position: relative;
    isolation: isolate;
}

.find-answer .section-title {
    margin: 0 0 10px;
}

.find-answer p {
    margin: 0 0 32px;
    font-size: 24px;
}

.tailored-solution .container {
    padding-bottom: 429px;
    padding-top: 34px;
}
.tailored-solution-wrap .grid .item:first-child .accrodtion-card:last-child {
    margin-bottom: -300px;
}

.find-answer .v-shape {
    position: absolute;
    top: 0;
    right: -170px;
    width: 100%;
    max-width: 390px;
    z-index: -1;
}

.accrodtion-card .accordion-item {
    border-bottom: 2px solid var(--gray);
}

.accrodtion-card .accordion-item:last-child {
    border-bottom: 2px solid var(--gray);
}

.accrodtion-card .accordion .accordion-button::after {
    background-image: none;
    content: "\ea4c";
    font-family: 'remixicon';
    height: auto;
    margin-right: 5px;
}

.approach_inside-img-overlay {
    position: absolute;
    isolation: isolate;
    inset: 0;
    z-index: -1;
    transition: all 0.2s linear;
    opacity: 0;
    overflow: hidden;
}
.approach_inside-img-overlay:before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(191, 148, 85, 0.50) 0%, rgba(26, 26, 26, 0.00) 100%);
}
.approach_inside-img-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.15;
    transition: all 0.2s linear;
}

.brokerage .approach_inside::before , .brokerage .approach_inside::after {
    opacity: 0;
}
.approach_inside:hover .approach_inside-img-overlay {
    opacity: 1;
}

.approach_inside:hover .approach_inside-img-overlay img {
    transform: scale(1.2);
}
/* tailored-solution end  */

/* thankyou page start   */

.single-screen-wrap {
    height: 100vh;
    display: grid;
    place-content: center;
    padding-top: 117px;
    position: relative;
}

.single-screen-content {
    text-align: center;
    padding: 0 15px;
    position: absolute;
    left: 50%;
    top: calc(50% + 90px);
    transform: translate(-50%, -50%);
    width: 100%;
}
.single-screen-content h1 {
    color: #fff;
    text-align: center;
    font-family: Helvetica;
    font-size: 96px;
    font-weight: 400;
    line-height: 110%;
    margin: 0 0 12px;
}
.single-screen-content .check-icon {
    width: 130px;
    height: 130px;
    margin: 0 auto 52px;
    display: block;
}

.single-screen-content p {
    color: #fff;
    text-align: center;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 300;
    line-height: 140%;
    max-width: 480px;
    margin: 0 auto;
}
.single-screen-content p a {
    color: var(--theme-clr);
}
.single-screen-content .secondary-btn {
    margin: 52px 0;
}

.single-screen-content h2 {
    color: #fff;
    text-align: center;
    font-family: Helvetica;
    font-size: 52px;
    font-weight: 400;
    line-height: 110%;
    margin: 0 0 12px;
}

.single-screen-content span {
    display: block;
    color: #fff;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
}

.single-screen-content span a{
    color: var(--theme-clr);
}


.single-screen-wrap .v-bg-image {
    max-width: 750px;
}
.single-screen-wrap .v-bg-image svg {
    width: 100%;
    height: 100%;
}

.error-404 .single-screen-wrap {
    background-image: url("../images/error-shape-bg.svg");
}
.error-404 .single-screen-content h1 {
    background: linear-gradient(90deg, #BF9455 0%, #F5F2AA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: min(20vw, 360px);
    font-weight: 800;
    margin: 0;
    line-height: 0.9;
}

.error-404 .single-screen-content h2 {
    font-weight: 300;
    margin: 0;
}

/* blog page start  */
.blog .site-banner {
    padding-top: 140px;
    height: auto;
}
.blog .site-banner-warp {
    justify-content: end;
}


.blog-banner-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    align-items: center;
}

.blog .banner-content h1 {
    font-size: 64px;
    margin: 0 0 32px;
}
.blog .banner-content .secondary-btn {
    margin-top: 52px;
}
.blog .banner-content {
    max-width: 815px;
}
.blog-list {
    margin-bottom: 64px;
}
.blog-listing-main {
    background: #fff;
    padding: 64px 44px;
}

.blog-list .categories {
    color:var(--theme-clr);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}
.blog-list .categories i {
    margin: 0 12px;
}
.blog-list .blog-item h4 {
    color: var(--black);
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    margin: 12px 0;
}

.blog-list .blog-item .meta {
    color: rgb(26 26 26 / 50%);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.blog-list .blog-item .meta span {
    margin-left: 14px;
}

.blog-list .blog-item .meta span::before {
    content: "";
    width: 5px;
    aspect-ratio: 1;
    background: rgb(26 26 26 / 30%);
    display: inline-block;
    border-radius: 50%;
    margin-right: 14px;
    margin-bottom: 4px;
}

.blog-list .blog-item:not(:last-child) {
    border-bottom: 1px solid var(--gray);
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.categories-section h3 {
    color: var(--black);
    font-size: 44px;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 32px;
}
.categories-section li:not(:last-child) {
    border-bottom: 1px solid var(--gray);
    padding-bottom: 16px;
    margin-bottom: 16px;
}
.categories-section li a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--black);
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}
.categories-section li a span {
    opacity: 0.5;
    margin-left: 6px;
    margin-right: auto;
}
.blog .container:not(.site-header .container):not(.site-banner .container) {
    border-color: transparent;
}
.blog-grid-main .heading-deatils {
    margin-bottom: 52px;
}
.blog-grid-main .section-title {
    color: var(--black);
}
.blog-grid-main .sub-title {
    color: var(--black);
    max-width: 100%;
}
.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
}

.blog-grid-main {
    background: #fff;
    padding: 84px 0 52px; 
}

.blog-card {
    background: #f6f6f6;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    isolation: isolate;
}
.blog-card * {
    transition: all 0.2s linear;
}
.blog-card-content{
    padding: 44px;
}

.blog-card .lebal {
    color: #BF9455;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}
.blog-card h2 {
    overflow: hidden;
    color: var(--black);
    text-overflow: ellipsis;
    font-family: Helvetica;
    font-size: 44px;
    font-weight: 400;
    line-height: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin: 20px 0;
}

.blog-card-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid var(--gray);
    border-bottom: 4px solid var(--gray);
    padding: 24px 44px ;
}

.blog-card-footer span {
    color: rgb(26 26 26 / 50%);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}
.blog-card-footer .author {
    position: relative;
    margin-left: 14px;
}
.blog-card-footer .author::before {
    content: "";
    width: 5px;
    aspect-ratio: 1;
    background: rgb(26 26 26 / 30%);
    display: inline-block;
    border-radius: 50%;
    margin-right: 14px;
    margin-bottom: 4px;
}
.blog-card-footer a {
    color: var(--black);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
}

.blog-card-hover-img {
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0;
}

.blog-card-hover-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-card-hover-img::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(0 0 0 / 55%);
}
.blog-card:hover h2, .blog-card:hover p {
    color: #fff;
}
.blog-card:hover .blog-card-footer span {
    color: rgb(255 255 255 / 50%);
}

.blog-card:hover .blog-card-footer a {
    color: #fff;
}
.blog-card:hover .blog-card-footer {
    border-top: 1px solid rgb(232 232 232 / 50%);
}
.blog-card:hover .blog-card-hover-img {
    opacity: 1;
}

.blog-card:hover .blog-card-footer .author::before {
    background: rgb(255 255 255 / 50%);
}
/* pagination start  */
.pagination-main {
    width: 100%;
    background: #fff;
    margin: 0 0 64px;
}

.pagination {
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--gray);
    padding-top: 52px;
    padding-bottom: 84px;
}
.pagination ul {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.pagination ul a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    aspect-ratio: 1;
    border: 1px solid var(--gray);
    transition: all 0.2s linear;
    background: #fff;
    color: var(--black);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}
.pagination ul a.active, .pagination ul a:hover {
    background:#f6f6f6;
}
.pagination button {
    background:#FFF;
    box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
    transition: all 0.2s linear;
    border: 1px solid var(--gray);
    width: 45px;
    aspect-ratio: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.pagination button:hover {
    background: var(--gray);
    border-color: var(--gray);
}

.pagination button.disable {
    background: #f6f6f6;
}
.pagination button.disable i{
    opacity: 0.5;
}
/* pagination start  */
/* breadcrumb start  */
.breadcrumb-main .breadcrumb {
    margin: 0 0 12px;
}

.breadcrumb .breadcrumb-item {
    color: var(--theme-clr);
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.breadcrumb .breadcrumb-item+.breadcrumb-item {
    padding-left: 12px;
}
.breadcrumb .breadcrumb-item::before {
    color: var(--theme-clr);
    padding-right: 12px;
}
/* breadcrumb end  */

/*11-12-2024*/

.article-body .site-header {
position: static;
}

.article-main .container {
background: #fff;
}

.breadcrumb-main {
max-width: 813px;
margin: 0 auto;
padding-top: 72px;
padding-left: 10px;
padding-right: 10px;
}

.breadcrumb-center a {
color: #BF9455;
text-align: center;
font-size: 24px;
font-weight: 400;
line-height: 27px;
padding: 0 5px;
display: inline-block;
}

.breadcrumb-center {
    text-align: center;
}
.viva-real h1 {
font-size: 64px;
font-weight: 400;
color: #1A1A1A;
text-align: center;
padding-top: 18px;
padding-bottom: 32px;
}

.viva-real p {
font-size: 24px;
text-align: center;
}
.viva-real span {
font-size: 18px;
font-weight: 400;
color: #1a1a1a8a;
display: block;
text-align: center;
margin-top: 42px;
}
.article-social ul {
    margin: 50px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.article-social ul li a {
    display: block;
    width: 44px;
    height: 44px;
    background: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.article-social ul li a i {
    font-size: 27px;
}
.we-list {
    max-width: 980px;
    margin: 52px auto 0;
    padding: 0 10px;
}

.we-list-img img {
width: 100%;
}

.we-list-content {
max-width: 900px;
margin: 52px auto 0;
}

.we-list-content h2 {
font-size: 32px;
font-weight: 700;
color: #1A1A1A;
padding-bottom: 21px;
}

.we-list-content p {
font-size: 24px;
font-weight: 400;
padding: 28px 0 0;
}
.we-list-bg {
max-width: 900px;
margin: 50px auto 0;
background: #F6F6F6;
border-left: 4px solid #bfbfbf87;
padding: 44px
}

.we-list-bg p {font-weight: 400;
margin: 0;}

.we-list-bg p:first-child {
padding-bottom: 28px;
}
span.line-article {
width: 100%;
display: block;
background: #E8E8E8;
height: 1px;
margin-top: 51px;
}
.we-list-num {
max-width: 900px;
margin: 50px auto 0;
}

.we-list-num p {
font-size: 24px;
font-weight: 400;
padding-bottom: 30px;
}

.we-list-num p:last-child {
padding-bottom: 0;
margin-bottom: 0;
}
.we-list-num .line-article {
margin-bottom: 51px;
}
.article-banner img {
width: 100%;
}

.article-banner-sec .container {
background: #fff;
}

.article-banner {
padding-top: 52px;
}
.article-grid {
max-width: 900px;
margin: 52px auto 0;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 50px;
padding: 0 10px;
}

.article-grid p {
font-size: 24px;
font-weight: 400;
}
.article-ban-date span {
font-size: 18px;
font-weight: 400;
color: #1a1a1a8a;
display: block;
text-align: center;
margin-top: 42px;
padding-bottom: 41px;
}
section.article-banner-sec {
padding-bottom: 46px;
}

.search-listing-page header.site-header {
position: static;
}
.search-listing-banner-bg{
background: url("../images/search-bnnr.png")no-repeat center center/cover;
width: 100%;
height: 600px;
position: relative;
}
.search-listing-banner-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #1a1a1a4d;
    z-index: 2;
}
.search-listing-banner-bg .site-banner-warp {
z-index: 3;
align-items: center;
text-align: center;
}
.search-listing-banner.site-banner {
height: auto;
}
.banner-bread a {
color: #BF9455;
font-size: 24px;
font-weight: 400;
}
.search-listing-banner-bg .banner-content{
margin-left: 0;
}

.search-listing-banner-bg .banner-bread {
margin-bottom: 12px;
}
.search-listing-type .listing-type-card {
padding-top: 0;
}
.search-listing-banner-bg .banner-content p {
max-width: 833px;
margin: 0 auto;
}
.search-listing-banner-bg.team-bg::before {
background: linear-gradient(180deg, rgb(26 26 26 / 0%) 0%, rgb(26 26 26 / 91%) 101%);
}
.search-listing-banner-bg.team-bg{
background: url("../images/team-banners.png")no-repeat center center/cover;
height: 621px;
}

.addresss p {
transition: all .2s linear;
}

.addresss p:hover {
color: var(--theme-clr);
cursor: pointer;
}
.heading-bar h2 {
    font-size: 64px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
}

.heading-bar {
padding-left: 60px;
}

.leadership-slide-bar {
padding-top: 64px;
border-bottom: 1px solid #ffffff45;
padding-bottom: 75px;
}
.leadership-img {
position: relative;
overflow: hidden;
}

.leadership-img svg {
position: absolute;
bottom: -146px;
left: 50%;
transform: translateX(-50%);
width: calc(100% + 40px);
transition: all .3s linear;
opacity: 0;
}
.leadership-child:hover .content p{
color: var(--theme-clr); 
}
.leadership-child:hover .content span{
opacity: 1;
}
.leadership-child .content p {
font-size: 24px;
font-weight: 300;
color: #FFFFFF;
transition: all .3s linear;
}

.leadership-child .content span {
font-size: 18px;
font-weight: 300;
color: #fff;
transition: all .3s linear;
opacity: 0.5;
}

.leadership-child .content {
padding-top: 24px;
}
.leadership-sliders .owl-nav {
    position: absolute;
    top: -135px;
    right: 60px;
    width: 165px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.leadership-sliders .owl-nav button {
position: relative;
}

.leadership-sliders .owl-nav button:before {
content: "";
position: absolute;
top: 15px;
left: 14px;
width: 40px;
height: 40px;
background: url(../images/arrow_for.png)no-repeat center center/cover;
}
.leadership-sliders .owl-nav button.owl-prev:before {
transform: rotate(179deg);
}
.leadership-sliders .owl-nav button span {
opacity: 0;
}
.leadership-sliders .owl-nav button.owl-prev {
position: relative;
width: 72px;
height: 72px;
border: 1px solid rgba(255, 255, 255, 0.10)!important;
background: rgba(255, 255, 255, 0.05)!important;
}
.leadership-sliders .owl-nav button.owl-next {
border: 1px solid var(--theme-clr)!important;
background: rgba(245, 242, 170, 0.10);
box-shadow: 0px -12px 24px 0px rgba(186, 115, 0,)!important;
width: 72px;
height: 72px;
}
.leadership-sliders .owl-item img {
transition: all .3s linear;
}
.leadership-child:hover .leadership-img img {
transform: scale(1.2);
}
.leadership-child:hover .leadership-img svg {
width:90%;
opacity: 1;
}

.leadership-team {
padding-top: 64px;
}

.team-page .footer-content {
padding-top: 52px;
}



.search-accordian-sec .accordion-button:focus {
box-shadow: none;
border: none;
outline: none;
}


.search-accordian-sec .accordion-button {
border-radius: 0!important;
}

.search-accordian-sec .accordion {
border-radius: 0!important;
}

.search-accordian-sec .accordion-item {
border: none;
}



.search-accordian-sec .accordion-item .accordion-button{
height: 194px;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.search-accordian-sec .accordion-item .accordion-button h3 {
position: relative;
color: var(--White-Main, #FFF);
font-family: Helvetica;
font-size: 64px;
font-style: normal;
font-weight: 300;
line-height: 140%;
padding-left: 74px;
}

.search-accordian-sec .accordion-item .accordion-button:before {
content: "";
position: absolute;
top: 0;
left: 0;
background: linear-gradient(90deg, #A86A0F 0%, #ECEA67 100%);
mix-blend-mode: plus-lighter;;
width: 100%;
height: 100%;
transition: all 0.2s linear;
opacity: 0;
}
.search-accordian-sec .accordion-item:hover .accordion-button:before{
opacity: 1;  
}

.search-accordian-sec #panelsStayOpen-headingOne button {
background: url(../images/listing-type-img-1.png);
}
.search-accordian-sec #panelsStayOpen-headingTwo button {
background: url(../images/listing-type-img-5.png);
}

.search-accordian-sec #panelsStayOpen-headingThree button {
background: url(../images/listing-type-img-4.png);
}

.search-accordian-sec #panelsStayOpen-headingfour button {
background: url(../images/listing-type-img-3.png);
}

.search-accordian-sec #panelsStayOpen-headingfive button {
background: url(../images/listing-type-img-2.png);
}
.search-accordian-sec .accordion-item .accordion-button[aria-expanded="true"]:before{
opacity: 1;
}

.search-accordian-sec .accordion-item .accordion-button::after {
background-image: url(../images/arrow_downward.png);

background-color: #000;
height: 50px;
width: 50px;
background-position: 15px 13px;
right: 83px;
position: absolute;
transition: all 0.2s linear;
opacity: 0;
}
.search-accordian-sec .accordion-item:hover .accordion-button::after {
opacity: 1;
}
.search-accordian-sec .accordion-button:not(.collapsed)::after{
transform: none;
background-image: url(../images/arrow_upward.png);
}
.search-accordian-sec .accordion-item .accordion-button[aria-expanded="true"]:after{
opacity: 1;
}


.accordin-filter-left .dropdown {
    border: 1px solid #d8d9d7;
    max-width: 300px;
    padding: 8px 28px 8px 5px;
    border-radius: 6px;
    background: #fff;
}


.accordin-filter-left .dropdown button {
    border: none;
    text-align: left;
    text-transform: capitalize;
}

.search-filter {
position: relative;
max-width: 300px;
}

.search-filter label {
    position: absolute;
    right: 11px;
    top: 13px;
    z-index: 2;
}

.search-filter label img {
filter: brightness(0%);
width: 27px;
}
.search-accordian-sec .accordin-filter-flex {
    background: #f2f2f2;
    padding: 10px;
    border: 1px solid #d8d9d7;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.search-accordian-sec .accordion-body {
max-width: 95%;
margin: 0 auto;
}
.accordin-filter-left .search-filter .dropdown ul {
min-width: 294px;
}
.accordin-filter-left .search-filter .dropdown button {
border: none;
min-width: 300px;
text-align: left;
}
.accordin-filter-left {
display: flex;
gap: 10px;
flex-wrap: wrap;
}
.sale-filter .dropdown {
min-width: 190px;
}
.property-filter .dropdown {
min-width: 189px;
}


.accordin-filter-left .dropdown-toggle::after {
background: url(../images/arrow_forward.png);
content: "";
position: absolute;
top: 13px;
right: 11px;
width: 22px;
background-repeat: no-repeat;
background-size: contain;
border: none;
transform: rotate(90deg);
HEIGHT: 30PX;
}
.search-filter button:after {
opacity: 0;
}

.all-filter button:after{
    opacity: 0;
}
.accordin-filter-right {
display: flex;
flex-wrap: wrap;
gap: 10px;
align-items: center;
}

.accdin-result a {
border: 1px solid #d8d9d7;
max-width: 300px;
padding: 11px 28px 12px 28px;
border-radius: 6px;
background: #fff;
text-transform: capitalize;
color: var(--black);
font-family: Helvetica;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}
.accdin-galler img {
width: 27px;
}

.accdin-galler {
text-align: center;
}
.search-ifame-right {
display: flex;
gap: 14px;
margin-bottom: 21px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-ifame-flex {
display: grid;
grid-template-columns: 2fr 1fr;
}
.search-ifame-right-img {
width: 40%;
}

.search-ifame-right-content {
    width: 60%;
    padding: 42px 84px 48px 0;
    position: relative;
}
.search-ifame-right-img img {
width: 100%;
height: 100%;
}
.search-ifame-right-content h3 {
font-size: 22px;
line-height: normal;
font-family: Helvetica;
color: var(--black);
font-weight: 500;
max-width: 232px;
}

.search-ifame-right-content a {
color: var(--black);
font-family: Helvetica;
font-size: 19px;
font-style: normal;
font-weight: 300;
line-height: normal;
display: flex;
align-items: start;
}
.search-ifame-right {
display: flex;
gap: 14px;
margin-bottom: 21px;
}
.search-ifame-right:last-child {
margin-bottom: 0px;
}
.search-ifame-right-content a:nth-child(2) {
padding: 20px 0;
}
.accdin-galler p {
    margin: 0;
}
.search-ifame-right-fixed img {
display: block;
border-radius: 10px;1
}

.search-ifame-right-fixed {
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
position: absolute;
right: 0;
top: 19px;
}
.search-listing-banner.site-banner:before {
display: none;
}
.article-social ul li:nth-child(2) a {
background: transparent;
}
.dots-bar {
display: inline-block;
width: 5px;
height: 5px;
background: #83838378;
border-radius: 50%;
margin: 0 15px;
position: relative;
top: -3px;
}
.site-footer.without-border .container {
border: none;
}
.addresss li:hover {
color: var(--theme-clr);
cursor: pointer;
}