/* font-faimly  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*global start*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

:root {
   
    --black:#1A1A1A;
    --theme-clr:#BF9455;
    --gray:#E8E8E8;
    --helvetica:'Helvetica';
    --roboto:"Roboto", sans-serif;
    
}
body {
    font-family:var(--helvetica);
    color: #fff;
    background: var(--black);
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

a:hover {
    color: inherit;
}

img,
video {
    max-width: 100%;
}

span {
    display: inline-block;
}
summary {
    list-style-type: none;
}

figure{
    margin:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family:var(--helvetica);
}

p{
    color:var(--black);
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 25.2px */
}
.container {
    width: 100%;
    /* max-width: 1743px; */
    max-width: calc(100% - 196px);
    margin: 0 auto;
    padding: 0;
    border-left:1px solid rgb(255 255 255 / 20%);
    border-right:1px solid rgb(255 255 255 / 20%);
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

.item {
    width: 100%;
}

.mobile-menu {
    display: none;
}

#main {
    /* border: 1px solid rgb(255 255 255 / 20%);
    border-width: 0 1px; */
    position: relative;
    /* width: calc(100% - 192px); */
    margin: 0 auto;
}
/* #main::before {
    content: "";
    position: absolute;
    left:0;
    top: 0;
    border-left: 1px solid rgb(255 255 255 / 20%);
    height: 100%;
    z-index: 2;
}
#main::after {
    content: "";
    position: absolute;
    right:0;
    top: 0;
    border-right: 1px solid rgb(255 255 255 / 20%);
    height: 100%;
    z-index: 2;
} */

/* site btns */
.primary-btn {
    padding: 24px 55px;
    color: #fff;
    background: var(--black);
    font-size: 18px;
    line-height: 20px;
    font-family: Helvetica;
    font-weight: 300;
    transition: all 0.2s linear;
}
.primary-btn:hover {
    background: var(--theme-clr);
}

/* .primary-btn:hover{
    border: 2px solid transparent;
    color:var(--black);
    transform: scale(1);
}
.primary-btn::before {
    background-color:#fff;
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
}
.primary-btn:hover::before{
    transform: translate(0, 0);
}
.primary-btn.bg-transparent {
    background: transparent;
    border: 1px solid var(--orange);
}
.primary-btn span {
    transition: all 0.2s linear;
}
.primary-btn:hover span {
    transform: translateY(-50px);
}
.primary-btn.bg_white:hover {
    color: #fff;
}
.primary-btn.bg_white::before {
    background-color: var(--orange);
} */

.secondary-btn {
    padding: 24px 32px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.10);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    color: #fff;
    transition: all 0.3s linear;
    position: relative;
    /* background: linear-gradient(90deg, #fff 0%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.secondary-btn:hover {
    border: 1px solid var(--theme-clr);
    background: rgba(245, 242, 170, 0.10);
    background: transparent;
    color: var(--theme-clr);
}

.secondary-btn::before {
    content: "";
    background: rgba(245, 242, 170, 0.10);
    box-shadow: 0px -12px 24px 0px rgba(186, 115, 0, 0.25) inset;
    background: linear-gradient(90deg, #BF9455 0%, #F5F2AA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: all 0.3s linear;
}
.secondary-btn:hover::before {
    opacity: 1;
}
/* site btns  */
/*header start*/
.site-header {
    background: transparent;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
}
/* .site-header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 39px 15px;
    border-color: rgba(255 255 255 /2%);
    border-bottom: 1px solid rgba(255 255 255 /20%);
} */

.site-header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 39px 42px;
    /* border-color: rgba(255 255 255 /2%); */
    border-bottom: 1px solid rgba(255 255 255 /20%);
}
.desktop-menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 100px;
    align-items: center;
}

li.site-logo.desktop-logo {
    width: 300px;
    text-align: center;
}
.site-logo img {
    max-width: 165px;
}

.site-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.site-nav li a {
    color: #FFF;
    position: relative;
    transition: all 0.2s linear;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
}
.site-nav li a:hover {
    color: var(--theme-clr);
}

.site-nav li a.active {
    color: var(--theme-clr);
}

.site-nav li a.secondary-btn {
    padding: 18px 24px;
    font-size: 18px;
}
.menu-toggle{
    display: none;
}

.menu-toggle .bar-1, .bar-2, .bar-3 {
    width: 40px;
    height: 2px;
    background-color: #fff;
    margin: 8px 0;
    transition: all 0.3s linear;
    display: block;
}

.closed-menu{
    display: none;
}
/*header end*/ 
.section-title {
    color: #fff;
    font-size: 64px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 24px;
}
span.highlight {
    color: var(--orange);
}
.sub-title {
    color: #fff;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: 300;
    line-height: 140%;
    max-width: 1020px;
    margin: 0;
}
/* site banner start  */
.site-banner {
    position: relative;
    isolation: isolate;
    height: 1080px;
    /* width: calc(100% + 192px);
    margin-left: -96px; */

}
.site-banner::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(0 0 0 / 55%);
}
.site-banner .banner-img {
    position: absolute;
    inset: 0;
    z-index: -1;
}
.banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.site-banner .container {
    height: 100%;
    position: relative;
    z-index: 1;
}
.site-banner-warp {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


.banner-curve-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
.banner-video {
    height: 100%;
}

.banner-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-content {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1275px;
    padding: 0 10px;
    margin-left: 145px;
}
.banner-content h1 {
    color: #FFF;
    font-size: 96px;
    font-weight: 400;
    line-height: normal;
    text-wrap: balance;
    margin: 0 0 44px;
}

.banner-overlay-shape {
    width: 100%;
    height: 525px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.00) 0%, #1A1A1A 100%);
}
/* site banner end */
.back-to-bottom {
    background: transparent;
    color: #fff;
    border: 0;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    left: 155px;
    bottom: 20px;
    z-index: 1;
    font-size: 18px;
    font-family: 'Helvetica';
}
.fixed-slide-bar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 98px;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon {
    margin-top: auto;
}

.fixed-slide-bar .social-icon li a {
    color: #fff;
    font-size: 20px;
    transition: all 0.2s linear;
}
.fixed-slide-bar .social-icon li a:hover {
    color: var(--theme-clr);
}
.social-icon li:not(:last-child) {
    margin-bottom: 84px;
}

.back-to-top {
    margin-top: auto;
    background: transparent;
    color: #fff;
    border: 0;
    font-size: 25px;
    transition: all 0.2s linear;
    margin-bottom: 20px;
    opacity: 0;
}
.back-to-top.show {
    opacity: 1;
}

.back-to-top:hover {
    color: var(--theme-clr);
}


.site-footer {
    background: var(--black);
}

.footer-columns {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-column-gap: 88px;
    align-items: center;
}
.footer-nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 88px;
    grid-row-gap: 32px;
    padding-right: 44px;
}
.addresss p {
    color:var(--black);
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.addresss li:not(:last-child) {
    margin: 0 0 12px;
}
.footer-nav li a {
    color: #fff;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s linear;
}
.footer-nav li a:hover {
    color: var(--theme-clr);
}
.addresss {
    padding: 88px 72px;
    background: #fff;
}
.addresss h5 {
    color: #BF9455;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 44px;
}
.addresss ul {
    margin: 44px 0 0;
}
.addresss li {
    color: var(--black);
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    align-items: start;
}
.addresss li img {
    width: 24px;
    margin-right: 12px;
}
.footer-bottom p {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    color: rgb(255 255 255 / 50%);
    margin: 0;
}
.footer-bottom {
    padding: 44px 44px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* hcp logo  */

.iqsay_logo a {
    max-width: 150px;
    position: relative;
}

.iqsay_logo a img {
    transition: ease all 0.4s;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.iqsay_logo a img.with_hvr {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.iqsay_logo a:hover img {
    filter: none;
}

.iqsay_logo a:hover img.with_hvr {
    opacity: 1;
    visibility: visible;
}
/* hcp logo end */


.awards-reco {
    background:var(--black);
    overflow: hidden;
}
.awards-reco .container {
    padding: 190px 0;
}
.awards-reco .swiper.awards-slider {
    overflow: visible;
    margin-top: 42px;
}
.awards-reco .swiper-wrapper {
    align-items: center;
}
.awards-slider .swiper-button-prev, .awards-slider .swiper-button-next {
    display: none !important;
}

.awards-slider img {
    opacity: 0.5;
    transition: all 0.2s linear;
}
.awards-slider img:hover{
    opacity: 1;
}
.awards-slider .swiper-slide{
    text-align: center;
    margin: 0 42px;
}
.featured-listing {
    background: var(--black);
    position: relative;
}
.featured-listing .line-shape {
    position: absolute;
    top: 0;
    right: 140px;
    transform: translateY(-50%);
}
.heading-deatils {
    padding-left: 145px;
}
.featured-listing-warp {
    margin-top: 70px;
}
.listing-card {
    background: #fff;
    color: var(--black);
}

.listing-card-header {
    padding: 44px 44px 24px;
}
.listing-card-showcase {
    position: relative;
}
.listing-card-img {
    overflow: hidden;
    height: 270px;
    position: absolute;
    inset: 0;
    z-index: 1;
    transition: all 0.2s linear;
}
.listing-card-showcase:hover .listing-card-img {
    opacity: 0;
    visibility: hidden;
}
.listing-card-img img {
    transition: all 0.2s linear;
    transform-origin: bottom;
}
.listing-card:hover .listing-card-img img {
    transform: scale(1.2);
}

.listing-card-showcase:hover .listing-card-img img {
    transform: scale(1);
}
.listing-card-header span {
    color: #BF9455;
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
    margin: 0 0 6px;
}
.listing-card-header p {
    overflow: hidden;
    color: var(--black);
    text-overflow: ellipsis;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin: 0;
}
.listing-card-content {
    padding: 44px 32px;
}

.listing-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.listing-card-content li:not(last-child) {
    margin-bottom: 12px;
}
.listing-card-content li {
    color: var(--black);
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
    display: flex;
    align-items: center;
}
.listing-card-content li img {
    max-width: 24px;
    margin-right: 12px;
}

.listing-card-footer {
    padding: 24px 44px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--gray);
    position: relative;
    isolation: isolate;
}
.listing-card-footer::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    transition: all 0.2s linear;
    background: linear-gradient(85deg, #F1DE83 -75.3%, #A87934 100.82%);
    opacity: 0;
}

.listing-card:hover .listing-card-footer::before {
    opacity: 1;
}
.unit-info {
    color: rgb(26 26 26 / 50%);
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    transition: all 0.2s linear;
}

.unit-info span:first-child {
    margin-right: 12px;
    position: relative;
    padding-right: 12px;
}
.unit-info span:first-child::after {
    content: "";
    position: absolute;
    background: var(--gray);
    height: 20px;
    width: 1px;
    right: 0;
}
.listing-card:hover .unit-info {
    color: #fff;
}
.read-more {
    color: var(--black);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
    transition: all 0.2s linear;
}
.read-more i {
    margin-left: 10px;
}

.listing-card:hover .read-more {
    color: #fff;
}

.showcase-slider-item {
    overflow: hidden;
    height: 270px;
}
.showcase-slider-item::before {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 69.5%, rgba(0, 0, 0, 0.50) 100%);
    inset: 0;
}
.showcase-slider .swiper-button-prev, .showcase-slider .swiper-button-next {
    color: #fff;
}

.showcase-slider .swiper-pagination .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.5;
}
.showcase-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}
.listing-slider .swiper-wrapper .swiper-slide {
    height: auto;
}
.explore-more-slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.05);
    transition: all 0.2s linear;
}

.explore-more-slide:hover {
    border: 2px solid var(--theme-clr);
    background: rgba(245, 242, 170, 0.10);
    box-shadow: 0px -12px 24px 0px rgba(186, 115, 0, 0.25) inset;
}

.explore-more-slide a {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 140%;
}

.explore-more-slide a i {
    margin-left: 10px;
}

.explore-more-slide:hover a {
    background: var(--Gold, linear-gradient(90deg, #BF9455 0%, #F5F2AA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.listing-slider.swiper {
    overflow: visible;
    overflow-x: clip;
}
.listing-slider > .swiper-button-prev, .listing-slider > .swiper-button-next {
    width: 72px;
    height: 72px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.05);
    top: -120px;
    right: 145px;
    left: auto;
}
.listing-slider > .swiper-button-prev {
    right: calc(145px + 84px);
}
.listing-slider > .swiper-button-next {
    border: 1px solid var(--theme-clr);
    background: rgba(245, 242, 170, 0.10);
    box-shadow: 0px -12px 24px 0px rgba(186, 115, 0, 0.25) inset;
}
.listing-slider > .swiper-button-prev i, .listing-slider > .swiper-button-next i {
    font-size: 30px;
    color: #fff;
}
.listing-slider > .swiper-button-prev::after, .listing-slider > .swiper-button-next::after {
    opacity: 0;
    width: 0;
}

.listing-type {
    background:var(--black);
}
.listing-type-card {
    padding-top: 24px;
}
.listing-type-card li {
    position: relative;
    height: 194px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 145px;
    isolation: isolate;
    transition: all 0.2s linear;
}
.listing-type-card li:hover {
    height: 260px;
}
.listing-type-img {
    position: absolute;
    inset: 0;
    z-index: -1;
}


.listing-overlay {
    background: linear-gradient(90deg, #A86A0F 0%, #ECEA67 100%);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.2s linear;
}
.listing-type-img img {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    inset: 0;
    mix-blend-mode: plus-lighter;
    transition: all 0.3s linear;
    object-fit: cover;
}
.listing-type-card li:hover .listing-type-img img {
    transform: scale(1.1);
}
.listing-type-card li:hover .listing-overlay {
    opacity: 1;
}
.listing-type-card li h4 {
    color: #fff;
    font-family: Helvetica;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}

.listing-type-card li .primary-btn {
    opacity: 0;
    transition: all 0.2s linear;
    padding: 20px 24px;
}

.listing-type-card li:hover .primary-btn {
    opacity: 1;
}

.track-record {
    background: var(--black);
    position: relative;
}
.track-record-wrap {
    background: #fff;
}
.track-record-content {
    padding: 110px 70px;
}
.track-record-wrap > .grid {
    grid-template-columns: 2fr 1fr;
}
.track-record-card-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.track-record-card {
    padding: 25px 75px;
    border: 1px solid var(--gray);
}
.track-record-card:first-child {
    border-width: 0 0 0 1px;
}
.track-record-card:nth-child(2) {
    border-width: 0 1px 0 1px;
}
.track-record-card:nth-child(3) {
    border-width: 1px 0 0 1px;
}
.track-record-card:nth-child(4) {
    border-bottom: 0;
}
.track-record-content h5 {
    color: #1A1A1A;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: 300;
    line-height: 140%;
    margin: 0 0 47px 80px;
}

.track-record-card h4 {
    background: linear-gradient(90deg, #BF9455 0%, #F5F2AA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    font-weight: 300;
    line-height: 140%;
    margin: 0 0 12px;
}

.coommercail-sales {
    position: relative;
    height: 100%;
    margin-right: 60px;
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;
}
.commercial-sale-bg {
    height: 100%;
    width: 100%;
}
.commercial-sale-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.commercial-sale-content {
    background: #fff;
    padding: 80px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 280px;
    text-align: center;
}
.commercial-sale-content p {
    text-align: left;
}
.commercial-sale-content h3 {
    background: linear-gradient(90deg, #BF9455 0%, #F5F2AA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 180px;
  
}

/* why styling start */
.why_head .section-title {
    color: var(--black);
    margin-bottom: 44px;
}

.why_box {
    background: #F6F6F6;
    padding: 44px;
    height: 100%;
}

.why_box > img{
    max-width: 84px;
}

.why_box h3 {
    font-size: 32px;
    line-height:140%;
    font-family: Helvetica;
    color: var(--black);
    font-weight: 300;
    margin: 44px 0 24px;
}

.why_box p {
    font-size: 24px;
    line-height: 140%;
    font-family: Helvetica;
    color: var(--black);
    font-weight: 300;
    margin: 0;
}

.why_us .grid {
    gap: 24px;
}

.why_us .container {
    background: #fff;
    padding: 164px 145px;
}

.why_us {
    background: var(--black);
}

.why_us .grid {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

/* why styling start */
/* top_tier styling start */
.top_tier .container-fluid {
    padding: 0;
}

.top_box h2 {
    color: var(--black);
    font-weight: 300;
}

.top_box .sub-title {
    color: var(--black);
    margin: 24px auto;
    max-width: 1200px;
}

.button_add {
    padding: 24px 55px;
    color: #fff;
    background: var(--black);
    font-size: 18px;
    line-height: 20px;
    font-family: Helvetica;
    font-weight: 300;
}

.top_box {
    background-color: #fff;
    padding: 84px;
    text-align: center;
    margin-top: -200px;
    position: relative;
    width: 100%;
    max-width: 1438px;
    margin: -250px auto 0;
}

.top_tier .container {
    padding-bottom: 124px;
}
/* top_tier styling end */
/* form section styling start */
.form-container {
    border-radius: 8px;
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
}

.consultation-form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

input.input_dest {
    flex: 1;
    padding: 18px 24px;
    font-size: 18px;
    border: 1px solid rgba(26, 26, 26, 0.20);
    background: var(--White-Main, #FFF);
}
input.input_dest::placeholder {
    color: #a1a1a1;
}
button.button_add {
    padding: 24px 55px;
    color: #fff;
    background: var(--black);
    font-size: 18px;
    line-height: 20px;
    font-family: Helvetica;
    font-weight: 300;
}

.form-checks {
    display: flex;
    justify-content: space-around;
    gap: 44px;
    align-items: center;
    margin-left: 44px;
}

.form_add_on {
    display: flex;
    margin-top: 8px;
}

.form-checks label {
    display: block;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.form-row.flow_btn {
    margin: 0;
    min-width: max-content;
}

input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}


.linear .container {
    padding-bottom: 64px;
}
.form_box {
    background: linear-gradient(87deg, #A87934 2.76%, #F1DE83 100.58%);
    padding: 94px 45px;
}
.form_add_on .form-checks label {
    display: flex;
    align-items: center;
}
.form_box .primary-btn {
    padding: 24px;
    border: 1px solid var(--black);
}
/* form styling end */
/* development styling start */
.devlop {
    background: var(--black);
}

.devlop .devlop-warp {
    background: #fff;
    padding: 145px 145px 64px;
}
.devlop .container {
    padding-top: 124px;
    overflow: hidden;
}
.devlop_head .section-title {
    color: var(--black);
    font-weight: 300;
}

.devlop_head .sub-title {
    color: var(--black);
    margin: 24px 0 64px;
    max-width: unset;
}

.devlop_box {
    display: flex;
    flex-wrap: wrap;
}

.dev_one img {
    width: 100%;
}

.dev_one {
    width: 50%;
}

.dev_two {
    padding: 32px;
    width: 50%;
}

.devlop .grid-cols-2 {
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
}

.dev_two h3 {
    color: var(--black);
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}

.dev_two p {
    color: var(--black);
    padding: 12px 0;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
}
.explore_btn i {
    margin-left: 3px;
}
.explore_btn {
    position: relative;
    color: var(--black);
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
}
.explore_btn:hover {
    color: var(--black);
}
.tem {
    margin-top: 64px;
    position: relative;
}

.tem::before {
    content: "";
    position: absolute;
    background: rgba(0 0 0 /10%);
    height: 1px;
    right: 0;
    top: 50%;
    width: calc(100% + 100vw);
    left: 249px;
}
/* development styling end */
/* capital section start */
.capital {
    background: #1A1A1A;
}

.capital .container {
    background: url(../images/capitalbg.png);
    background-position: center;
    background-size: cover;
    padding: 165px 145px;
}

.capital .sub-title {
    max-width: unset;
    margin-top: 44px;
}

/* capital section end */
/* Approach section start */
.Approach {
    background: var(--black);
}

.Approach .container {
    padding: 124px 145px;
}

.approach_inside {
    padding: 64px 44px;
    border-bottom: 4px solid #3C3C3C;
    height: 100%;
    transition: all 0.3s linear;
    position: relative;
    isolation: isolate;
}



.approach_inside::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(191, 148, 85, 0.50) 0%, rgba(26, 26, 26, 0.00) 100%);
    transition: all 0.3s linear;
    opacity: 0;
}

.approach_inside::after {
    content: "";
    position: absolute;
    border-radius: 742px;
    opacity: 0.4;
    background:linear-gradient(90deg, #BF9455 0%, #F5F2AA 100%);
    filter: blur(166.5px);
    width: 100%;
    height: 400px;
    transition: all 0.2s linear;
    opacity: 0;
    top: 100%;
    left: 0;
}
.approach_inside:hover {
    border-bottom: 4px solid var(--theme-clr);
}

.approach_inside:hover::before{
    opacity: 1;
}
.approach_inside:hover::after{
    opacity: 1;
}

.approach_inside-icon {
    max-width: 84px;
}
.Approach .grid-cols-3 {
    gap: 12px;
    padding-top: 54px;
    border-top: 1px solid #3C3C3C;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
}

.approach_inside h3 {
    color: #fff;
    font-family: Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    margin: 44px 0 24px;
}

.approach_inside p {
    color: #fff;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}

.app_box .sub-title {
    padding: 0 0 54px;
}

/* Approach section end */

/* brokerage section start  */
.dev-constrution-wrap {
    padding: 0 145px;
}

.brokerage .section-title {
    font-weight: 300;
    max-width: 450px;
    position: relative;
    z-index: 1;
}
.dev-constrution {
    position: relative;
}
.dev-constrution-shape-img {
    width: 100%;
    position: absolute;
    max-width: 1080px;
    top: -50px;
    left: 0;
}
.dev-constrution-shape-img img {
    width: 100%;
}
.dev-constrution-wrap > .grid {
    grid-template-columns: 1.5fr 1fr;
}


.brokerage .Approach .grid-cols-3 {
    border: 0;
}


/* brokerage section end  */


/* tailored-solution start  */
.heading-deatils span {
    color:var(--theme-clr);
    font-size: 32px;
    font-weight: 300;
    line-height: 140%;
}

.tailored-solution-wrap {
    background: #fff;
    padding-top: 145px;
    padding-left: 24px;
    padding-right: 24px;
}

.tailored-solution-wrap .grid {
    grid-gap: 12px;
}
.tailored-solution-wrap .section-title {
    color: var(--black);
    font-weight: 300;
}

.tailored-solution-wrap .sub-title {
    color: var(--black);
    max-width: 80ch;
}
.tailored-solution-wrap .heading-deatils {
    margin: 0 0 96px;
}
.accrodtion-card {
    padding: 124px 64px;
    background: #f6f6f6;
    margin: 0 0 12px;
}

.capital-market {
    background-image: url('../images/capital-card-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.capital-market .accordion  .accordion-item {
    border-color: #e8e8e859;
}

.capital-market .accordion  .accordion-item:last-child {
    border-color: #e8e8e859;
}
.accrodtion-card .accordion * {
    background: transparent;
}

.accrodtion-card .accordion .accordion-button {
    color: var(--black);
    font-size: 32px;
    font-weight: 300;
    line-height: 140%;
    padding: 24px 0;
}

.accrodtion-card .accordion  .accordion-body {
    color:var(--black);
    font-size: 24px;
    font-weight: 300;
    line-height: 140%;
}


.accrodtion-card .accordion .accordion-button:focus {
    box-shadow: none;
}

.capital-market p {
    color: #fff;
}

.capital-market .section-title {
    color: #fff;
}

.accrodtion-card.capital-market .accordion .accordion-button {
    color: #fff;
}

.accrodtion-card.capital-market .accordion  .accordion-body {
    color: #fff;
}
.accrodtion-card p {
    font-size: 24px;
}
.find-answer {
    padding: 84px 64px;
    overflow: hidden;
    position: relative;
    isolation: isolate;
}

.find-answer .section-title {
    margin: 0 0 10px;
}

.find-answer p {
    margin: 0 0 32px;
    font-size: 24px;
}

.tailored-solution .container {
    padding-bottom: 429px;
    padding-top: 34px;
}
.tailored-solution-wrap .grid .item:first-child .accrodtion-card:last-child {
    margin-bottom: -300px;
}

.find-answer .v-shape {
    position: absolute;
    top: 0;
    right: -170px;
    width: 100%;
    max-width: 390px;
    z-index: -1;
}

.accrodtion-card .accordion-item {
    border-bottom: 2px solid var(--gray);
}

.accrodtion-card .accordion-item:last-child {
    border-bottom: 2px solid var(--gray);
}

.accrodtion-card .accordion .accordion-button::after {
    background-image: none;
    content: "\ea4c";
    font-family: 'remixicon';
    height: auto;
    margin-right: 5px;
}

.approach_inside-img-overlay {
    position: absolute;
    isolation: isolate;
    inset: 0;
    z-index: -1;
    transition: all 0.2s linear;
    opacity: 0;
    overflow: hidden;
}
.approach_inside-img-overlay:before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(191, 148, 85, 0.50) 0%, rgba(26, 26, 26, 0.00) 100%);
}
.approach_inside-img-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.15;
    transition: all 0.2s linear;
}

.brokerage .approach_inside::before , .brokerage .approach_inside::after {
    opacity: 0;
}
.approach_inside:hover .approach_inside-img-overlay {
    opacity: 1;
}

.approach_inside:hover .approach_inside-img-overlay img {
    transform: scale(1.2);
}
/* tailored-solution end  */

